<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyBJtd9eDTppcRC3G1W4NM5Rp31xKE5kVoY</string>
	<key>GCM_SENDER_ID</key>
	<string>253280205063</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>xyz.damnisohigh.RouletteGame</string>
	<key>PROJECT_ID</key>
	<string>roulettegame-c8f7f</string>
	<key>STORAGE_BUCKET</key>
	<string>roulettegame-c8f7f.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:253280205063:ios:65641267cb88748a1feda2</string>
</dict>
</plist>